.App {
  min-height: 100%;
  margin-top: 100px;
}

.footerLinks {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: darkslategray;
}

#p{
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 3px;
  font-size: 9px;
  color: aliceblue;
}

.tmdbLogo {
  max-height: 50px;
  min-height: 30px;
  width: 50px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: darkslategray;
} 

a {
  text-decoration: none;
}

header {
  position: fixed;
  top:0;
  margin: auto;
  padding-top:5px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  
  width: 100% ;
  background-color: darkslategray;
}

.navLinks {
  display: inline-flex;
  /* for mobile media query */
  /* display: inline block; */
  /* justify-content: center; */
  justify-content: flex-start;
  flex-grow: 100;
  
}

.navbar {
  flex: 0.12;
  /* for tablet media query */
  /* flex: 1 ; */
  position: relative;
  text-align: center;
}

.navbar::after {
  content: "|"; 
  position: absolute;
  right:0;
} 