.App {
  min-height: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.footerLinks {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: darkslategray;
}

#p{
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 3px;
  font-size: 9px;
  color: aliceblue;
}

.tmdbLogo {
  max-height: 50px;
  min-height: 30px;
  width: 50px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: darkslategray;
} 

a {
  text-decoration: none;
}

header {
  position: fixed;
  top:0;
  margin: auto;
  padding-top:5px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100% ;
  background-color: darkslategray;
}

button {
  margin-bottom: 15px;
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

input {
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  margin-bottom: 15px;
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navLinks {
  display: inline-flex;
  /* for mobile media query */
  /* display: inline block; */
  /* justify-content: center; */
  justify-content: flex-start;
  /* found out how to use flex-grow from https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
  flex-grow: 100;
}

.navbar {
  flex: 0.12;
  /* for tablet media query */
  /* flex: 1 ; */
  position: relative;
  text-align: center;
  max-width: 25vh;
  min-width: 20vh;
}
/* This flexbox trick in particualr came from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.navbar::after {
  content: "|"; 
  position: absolute;
  right:0;
} 

.Homepage {
  padding-bottom: 10px;
  padding-top:10px;
  /* padding-left: 10px; */
  display: flex;
  justify-content: center;
  /* media query mobile */
  /* width: 20vw; */
  /* background-color: crimson; */
  width:100%;
}

.homeButton {
  text-align: center;
}

.actualButton {
  position: relative;
  margin: 1rem;
  padding: 2rem; 
  border-radius: 1rem;
  justify-content: space-between;
}

.HomepageDiv {
  display: block;
  flex-grow: .04;
  flex-direction: row; 
}

.Pick {
  /* display: flex; */
  justify-content: center;
  /* background-color: purple; */
}
#disclaimer {
  text-align: center;
  /* media query mobile; */
  /* width: 50vh; */
  /* font-size: 12px; */
}
.bestOfYear{
  background-color: whitesmoke;
  display: flex;
  text-align: center;
  
  border: 0.5px solid black;
  /* max-width: 30%; */
}

#oR{
  text-align: center; 
  background-color: red;
}

.bestOfGenre {
  text-align: center;
  border: 0.5px solid black;
  background-color: cyan;
}

.pickPoster {

}